@import "./assets/variables.scss";

.App {
  background-color: #047c90;
  background-image: url("./assets/tlo.png");
  background-repeat: no-repeat;
      background-size: cover;
  min-height: 100vh;
  height: 100%;
}

.questions {
  padding: 20px $app-padding;
}


.disabled {
opacity: 0.5;
}


.scanner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  video {
    width: 100%;
  }
}

.happy {
  text-align: center;

  .header-text {
    align-items: center;
  }
  
  .happy-icon {
    margin-top: 50px;
  }
}


.champion {
  width: 250px;
}


.error {
  border-color: red !important;
}